//login background color

$primary-color: #002554;
$text-color: #ffffff;

// text black for all pages
$black-color: #686868;
$seconday-color: #ce8e00;
$gray-color: #f5f6f9;
$recert-color: #12c379;
$bio-color: #1c1c1c;
$sticky-th-color: #e0edff;
$unlike-color: #c9aa65;
$thead-color: #fff4de;
$hr-color: #bad1f1;
$error-span: #c02b0a;
$error-background: #fdd9d9;
$pd-table-cell-color: #272727;
$disable-color: #CF2E2E;
$edit-color: #E7EAED;
$edit-bg-color: #F7F9FB;
$edit-border-color: #D0CFCF;
$cancel-color: #EAECEE;
$scroll-color:#B2B2B2;